.principal-container{
    display: flex;
    justify-content: space-between;
    height: 296px;
    width: 629px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    margin-left: 30%;
    margin-right: 50%;
    padding: 14px;
}
.secundary-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.cart-img{
    display: flex;
    height: 120px;
    width: 140px;
    justify-self: center;
    align-self: center;
    position: relative;
    left: 61px;
}

.btn {
height: 48px;
width: 201px;
left: 252px;
top: 184px;
border-radius: 4px;
padding: 11px, 24px, 11px, 24px;
background-color: #E30000;
color: #FFFFFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
align-self: center;


}


.title{
color: black;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
margin: 0;

}

.message{
color: black;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
align-self: center;
width: 60%;
margin: 5%;
}

@media screen and (max-width: 768px) {

    .principal-container{
        display: flex;
        flex-direction: column;
    
}
}

@media screen and (max-width: 767px) {

    .principal-container{
        display: flex;
        flex-direction: column;
    
}

 .title{
     margin: 20px;
 }
}