.inputSearch{
    outline: none;
    width: 100%;
    height: 38px;
    border-radius: 4px;
    text-transform: lowercase;
    padding-left: 2%;
    border:none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.searchInputs{
width: 55vw;
display: flex;
}

.searchIcon{
    height: 40px;
    width:50px;
    margin-left: -55px;
    background-color: white;
    color:#E30000;
    display: grid;
    place-items: center;
}