.promocel {
  display: none;
}

.promcard {
display: flex; 
flex-direction: column; 
align-items: center;
padding: 16px;
position: relative;
width: 170px;
height: 362px;
background: #FFFFFF;
border: 1px solid #D6D6D6;
box-sizing: border-box;
border-radius: 4px 
}

.promodesk {
  display: block;
  width: 98%;
	height: 100%;
	text-align: center;
	padding-top: 150px;
  margin: 9px;
}

.containerhome {
  margin-left: 216px;
  margin-right: 222px;
  padding-top: 88px;
  display: grid;
  gap: 32px 32px;
  grid-template-columns: repeat(4, 1fr);
}

@media  (min-width:360px) and (max-width:400px){
  .promocel {
  display: block;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.promcard {
  margin-left: 0px;
}

.promodesk {
  display: none;
}

.containerhome {
  margin-left: 1.5px;
    padding-top: 8px;
    display: grid;
    align-items: center;
    gap: 5px 5px;
    grid-template-columns: repeat(2, 1fr);
}


}