.button {
    color: #ffffff;
    margin-top: 4px;
    /* padding-top: 20px; */
    min-height: 25px;
    min-width: 176px;
    /* padding: 1px, 24px, 1px, 24px; */
    background: #E30000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;


}

/* .button:default {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: relative;
    border-radius: 4px;
} */

.button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: relative;
    background: #8C0000;
    border-radius: 4px;
}

/* .btn:disabled {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: relative;
} */

.button:focus { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: static;
    left: 2px;
    top: calc(50% - 28px/2);
    background: #E30000;
    border-radius: 4px;
}

/*.btn:focus { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 24px;
    position: static;
    left: 2px;
    top: calc(50% - 28px/2);
    background: #E30000;
    border-radius: 4px;
}*/
