*{
   margin: 0;
   padding: 0;
   --vermelho: #E30000;
    --branco: #FFFFFF;
   --brancoFooter:#F7F7F7;
   --cinzaFosco:  #4D4D4D;
   --cinzaCard: #D6D6D6;
   --cinza:  #737373;
   --pretoFosco:  #1A1A1A;
   ---preto: #000000;
}
