body{
    margin:0;
    padding:0;
}

.grid-container {
    margin-left: 216px;
    margin-right: 222px;
    padding-top: 88px;
    display: grid;
    gap: 32px 32px;
    grid-template-columns: repeat(4, 1fr);
  }

  header {
    padding:0;
    margin: 0;
    width: 100%;
    position:fixed;
    z-index: 3;
  }

.principal{
    background-color: #E30000;
    margin:0px auto;
    padding: 0px 45px 0px 30px;
    display: flex;
    align-items: center;
    min-height: 80px;
    max-height: 86px;
    justify-content: space-between;
}
.secondary{
    border-bottom: 1px solid lightgray;
    background-color: white;
    padding: 9px;
}

.btns-header{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.btn-nav, .btn-cart{
    border:none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color:#4D4D4D;
    cursor:pointer;
}
.logo-img{
    height: 80px;
    width: 190px;
}
.btn-logo{
    border:none;
    background-color: #E30000;
}
.btn-cart{
    color:#ffffff;
    font-size: 30px;
}

#outlet{
    color:#E30000;
    font-weight: bold;
}
.searchIcon{
    height: 40px;
    width:50px;
    margin-left: -55px;
    background-color: transparent;
    color:#E30000;
    border:none;
    display: grid;
    place-items: center;
}

.searchInputs{
    width: 55vw;
    display: flex;
    }
    

@media screen and (max-width:768px){
    .secondary{
        display:none;
    }
}





/* body{
    margin:0;
    padding:0;
}
header{
    padding:0;
    margin: 0;
    width: 100%;
}
.principal{
    background-color: #E30000;
    margin:0px auto;
    padding: 0px 45px 0px 30px;
    display: flex;
    align-items: center;
    min-height: 80px;
    max-height: 86px;
    justify-content: space-between;
}
.secondary{
    border-bottom: 1px solid lightgray;
    padding: 9px;
}
.btns-header{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.btn-nav, .btn-cart{
    border:none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color:#4D4D4D;
    cursor:pointer;
}
.logo-img{
    height: 80px;
    width: 190px;
}
.btn-logo{
    border:none;
    background-color: #E30000;
}
.btn-cart{
    color:#ffffff;
    font-size: 30px;
}
#outlet{
    color:#E30000;
    font-weight: bold;
}
.searchIcon{
    height: 40px;
    width:50px;
    margin-left: -55px;
    background-color: transparent;
    color:#E30000;
    border:none;
    display: grid;
    place-items: center;
}
.searchInputs{
    width: 55vw;
    display: flex;
    }
    
@media screen and (max-width:768px){
    .secondary{
        display:none;
    }
} */